<% if notif.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show notification" role="alert">
    <h4 class="alert-heading notification-heading">Error in saving <%= notif.class.name.downcase %></h4>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <ul class="notification-lists mt-2">
      <% notif.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
