<div class="hp-banner">
  <div class="hp-banner-contwrap">
    <h1 class="hp-banner-heading">About Page</h1>
    <p class="hp-banner-subheading">This is a blog web application exercises made from ruby on rails.</p>
  </div>
</div>
