<div class="hp-banner">
  <div class="hp-banner-contwrap text-center">
    <h1 class="hp-banner-heading">Welcome to my Blog Page</h1>
    <h2 class="hp-banner-subheading mb-5">This site is a representation of my skills and knowledge in Ruby on Rails as both back-end and front-end developer.</h2>
  </div>
  <% (1..15).each do %>
    <span class="firefly"></span>
  <% end %>
  <div class="moving-mouse-holder">
    <div class="mouse">
      <div class="mouse-button">&nbsp;</div>
    </div>
    <div class="text">SCROLL DOWN <br> TO EXPLORE MORE</div>
  </div>
</div>
