<div class="hp-banner">
  <div class="hp-banner-contwrap">
    <h1 class="hp-banner-heading">Welcome to homepage!</h1>
    <h2 class="hp-banner-subheading mb-5">Welcome to my Page. A blog web application exercises made from ruby on rails.</h2>
    <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
