@import "shared/variables";
@import "shared/mixins";

.header {
  background-color: #f5f5f5;

  &-dropdown {
    left: auto;
    right: 0px;
  }

  &-navbar-brand {
    color: $p_color;
    font-weight: bold;

    &:hover {
      color: #525286;
    }
  }

  &-nav-link {
    color: $p_color;
    font-size: 14px;
    font-weight: 600;
    padding: 18px 14px;

    &.active,
    &:hover {
      color: $s_color;
    }

    &-login {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}

// media query
@media (max-width: 992px) {
  .header-navbar-ul {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    padding-top: 5px;
  }

  .header-nav-link {
    display: block;
    line-height: 31px;
    padding: 0;
  }
}
