@import "mixins";

.header {
  background-color: #5e4fca;

  &-dropdown {
    left: auto;
    right: 0px;
  }

  &-navbar-brand {
    color: #fff;
    font-weight: bold;
  }

  &-nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 18px 14px;

    &:hover {
      color: #8d8dff;
    }
  }
}
