@import "mixins";

.header {
  background-color: #f5f5f5;

  &-dropdown {
    left: auto;
    right: 0px;
  }

  &-navbar-brand {
    color: #26263e;
    font-weight: bold;

    &:hover {
      color: #525286;
    }
  }

  &-nav-link {
    color: #26263e;
    font-size: 14px;
    font-weight: 600;
    padding: 18px 14px;

    &:hover {
      color: #525286;
    }
  }
}
