@import "shared/mixins";

.notification {
  &-heading {
    font-weight: 600;
    font-size: 18px;
  }

  &-lists {
    font-size: 15px;
    list-style: disc;
    padding-left: 20px;
  }

  &-users,
  &-articles {
    margin-bottom: 30px;
  }

  &-flash {
    @include border-radius(0);
  }
}
