@import "shared/variables";
@import "shared/mixins";

.pagination {
  display: block;
  text-align: center;

  * {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
  }

  em, a {
    border: 1px solid #fff;
    @include border-radius(3px);
    color: $p_color;
    padding: 3px 13px;
  }

  a:hover {
    border-color: $s_color;
    color: $s_color;
  }

  .current {
    background-color: $s_color;
    border-color: $s_color;
    color: #fff;
  }

  .disabled {
    color: #ababab;
  }

  .previous_page {
    margin-right: 5px;
  }

  .next_page {
    margin-left: 5px;
  }

  .previous_page,
  .next_page {
    border: 0;
    padding: 0;
  }
}
