@import "shared/mixins";

.articles {
  &-heading {
    line-height: 150px;
    margin-bottom: 50px;
    text-align: center;
  }

  &-topmenus {
    margin-bottom: 40px;
  }

  &-article {
    background-color: #f9f9f9;
    @include border-radius(3px);
    @include box-shadow(0 2px 3px 0 rgba(0, 0, 0, 0.2));
    color: #404040;
    padding: 15px 15px 20px;

    &-ttle {
      font-size: 17px;
      font-weight: 600;
      line-height: 21px;
      margin-bottom: 0;

      a {
        color: #404040;

        &:active,
        &:hover {
          color: #019aed;
        }
      }
    }

    &-date {
      font-weight: 300;
      font-size: 11px;
      line-height: 15px;
      margin-bottom: 10px;
      margin-top: 3px;
    }

    &-desc {
      font-size: 15px;
      font-weight: 300;
      height: 120px;
      line-height: 22px;
    }
  }

  &-showpg-contwrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &-showpg-descsmall {
    font-size: 13px;
    font-weight: 300;
  }
}
