.hp-banner {
  align-items: center;
  background: image-url("gray-laptop.jpg") no-repeat right top / cover;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 86.17vh;

  &-contwrap {
    line-height: 60px;
    text-align: center;
  }

  &-heading {
    font-size: 60px;
  }

  &-subheading {
    font-size: 22px;
    line-height: 24px;
    margin-top: 20px;
  }
}
