@import "mixins";

.users {
  &-heading {
    background: image-url("gray-laptop.jpg") no-repeat right top / 100%;
    color: #fff;
    line-height: 150px;
    margin-bottom: 50px;
    text-align: center;
  }
}
