<header class="header">
  <nav class="header-navbar navbar navbar-expand-lg">
    <%= link_to "LOGO", root_path, class: "header-navbar-brand navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="header-nav-item nav-item"><%= active_links("Home", root_path, "header-nav-link") %></li>
        <li class="header-nav-item nav-item"><%= active_links("About", about_path, "header-nav-link") %></li>
        <li class="header-nav-item nav-item"><%= active_links("Articles", articles_path, "header-nav-link") %></li>
      </ul>
    </div>
  </nav>
</header>
